<!-- templates/includes/filter_params.html -->
{% if search_query %}&search={{ search_query }}{% endif %}
{% if type_filter %}&type_filter={{ type_filter }}{% endif %}
{% if degree_filter %}&degree={{ degree_filter }}{% endif %}
{% if stream_filter %}&stream={{ stream_filter }}{% endif %}
{% if min_tenth %}&min_tenth={{ min_tenth }}{% endif %}
{% if min_twelfth %}&min_twelfth={{ min_twelfth }}{% endif %}
{% if min_degree %}&min_degree={{ min_degree }}{% endif %}
{% if gender_filter %}&gender={{ gender_filter }}{% endif %}
{% if min_yop %}&min_yop={{ min_yop }}{% endif %}
{% if max_yop %}&max_yop={{ max_yop }}{% endif %}
{% if sort_by %}&sort={{ sort_by }}{% endif %}